<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Welcome</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat"
	rel="stylesheet">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
.bg-4 {
	background-color: #2f2f2f; /* Black Gray */
	color: #fff;
}
.container-fluid {
	padding-top: 40px;
	padding-bottom: 40px;
}
body {
	text-align: center;
}
p {
	font-size: 16px;
}
.container-fluid-body {
	padding-top: 0px;
	padding-bottom: 0px;
}
</style>
</head>
<body>
	<!-- navigation -->
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<ul class="nav navbar-nav">
				<li class="active"><a href="index.html"><span class="glyphicon glyphicon-home"></span> Home</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="emCreateAccount.jsp"><span	class="glyphicon glyphicon-user"></span> Sign Up</a></li>
				<li><a href="emLogin.jsp"><span	class="glyphicon glyphicon-log-in"></span> Login</a></li>
			</ul>
		</div>
	</nav>

	<div class="container-fluid-body">
		<div class="row">
			<div class="col-sm-3"></div>
			<div class="col-sm-6">
				<h1>You are the next innovator!</h1>
				<br>
				<div class="container-fluid">
					<form class="form-inline" action="JobController" method="get">
						<input type="hidden" name="action" value="search">
						<div class="form-group">
							<label>What:</label> <input type="text" class="form-control" placeholder="Job title or Keywords" name="title">
						</div>
						<div class="form-group">
							<label> Where: </label> 
							<select name="city" class="form-control">
								<option value="Mississauga">Mississauga</option>
								<option value="Oakville">Oakville</option>
								<option value="Brampton">Brampton</option>
								<option value="Toronto">Toronto</option>
							</select>
						</div>
						<button type="submit" class="btn">Find job</button>
					</form>
					<br><br>
					<form action="JobController">
						<input type="hidden" name="action" value="allJobs">
						<button type="submit" class="btn">All Jobs</button>
					</form>
				</div>
				<br>
			</div>
			<div class="col-sm-3"></div>
		</div>
	</div>

	<!-- Footer -->
	<footer class="container-fluid bg-4 text-center">
		<p>PROG32758 Enterprise Java Development &copy; Sheridan College</p>
	</footer>
</body>
</html>
